root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,tpl}]
indent_size = 2

[*.{css,js}]
indent_size = 4
